.player-container {
  position: relative;
  width: 100%;
  clear: both;
  margin-bottom: 30px;
}

.v3-embed .player-container {
  position: relative;
  background: black;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}
